@font-face{
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot')format('eot'),
        url('fonts/fontawesome-webfont.svg')format('svg'),
        url('fonts/fontawesome-webfont.ttf')format('ttf'),
        url('fonts/fontawesome-webfont.woff')format('woff'),
        url('fonts/fontawesome-webfont.woff2')format('woff2')
}




.fin {
		text-align : center;
	
}

html {
        font-size: 16pt;
    }

body{  

        display: flex;
        flex-direction: column;
        justify-content: space-around ;


        background-color: #1e252d;
        background-attachment: fixed;
        margin: auto;
		padding: 5px;
		border: 0;
		font-size: 90%;
		font-family: FontAwesome, Arial, Comic Sans MS, Times New Roman;
        color : white;
		vertical-align: baseline;
        background-image:url(images/fond.png);
}


#main{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;

    margin: 3em;
    padding: 2em;
    box-shadow: 6px 6px 6px black;



    background-color : white;

    color: #1e252d;

}

#intro{
    text-align: center;
    font-size: 70%;
}

p{

    margin: 0 0 2rem 0;
}

header{
    margin: 2.5em;
    padding-top: 2.5em;

    color :rgb(112,109,112);
    text-align: center;
    background-color : rgb(237,239,242);
    box-shadow: 6px 6px 6px black;
}


nav{
    margin : auto;
}

    nav.ul{
        display: flex;
    }

footer{
    border-top-style: solid;
    padding-top: 2em;
    text-align: center;
}

#copyright{

    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    font-size: 70%;
    color : grey;
}


label.choix {
    font-size : 80%;
}

input[type="radio"]:checked+label { 
    font-weight: bold; 
}



button, input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
      
        line-height: 1.5;
        letter-spacing: 0.075em;
        margin: 0 0 1rem 0;
    }

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            border-bottom: 0;
            color: inherit;
            text-decoration: none;
        }

    h1 {
        font-size: 2rem;
        line-height: 1.1;
        margin: 0 0 2rem 0;
    }

    h2 {
        text-align: center;
        font-size: 1.75rem;
        line-height: 1.3;
        margin: 0 0 1.5rem 0;
    }


    h4 {
        font-size: 1rem;
        color: rgb(6, 186, 212);
    }

    

a {
        color: #1e252d;
        border-bottom-color: rgba(33, 41, 49, 0.5);
    }

        a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

        a:link {
         color: green;
         text-decoration: underline;
         }


        a:active, a:focus {
         color: red;
        }
